html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tiles {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
}

.tiles, .tile {
  margin: 15px;
  padding: 15px;
  background-color: #859caa;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.tiles, .tile, .tileCompany {
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  transition: all 0.4s;
}

.tiles, .tile, .tileCompany::after {
  content: '';
  position: absolute;
  /* top: 50%; */ 
  right: 0px;
  /* transform: translateY(-50%); */
  width: 1000px;
  height: 200px;

  /* background-image: url('http://www.w3.org/2000/svg'); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.4s ease;
}
.tiles, .tileTitle, .tileTimeline, .tileDescription {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease;
}

.tiles, .tile.open, .tileCompany {
  margin-bottom: 15px;
}


.tiles, .tile.open, .tileCompany::after {
  transform: translateY(-50%) rotateX(180deg);
}

.tile, .tile.open, .tileTitle, .tileTimeline, .tileDescription {
  max-height: 1000px;
  opacity: 1;
}


@media (max-width: 600px) {
  /* .grid {
    width: 100%;
    flex-direction: column;
  } */
}