.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: white;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.brandName {
  font-size: 3rem;
  color: white;
  margin-left: 2%;
  line-height: 0%;
}


.button {
    display: inline-block;
    position: relative;
    margin: 0.4em;
    padding: 0.7em;
    border: 2px solid #FFF;
    overflow: hidden;
    text-decoration: none;
    font-size: 1em;
    outline: none;
    color: #FFF;
    background: transparent;
    font-family: 'raleway', sans-serif;
}

.button span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
} 



.button:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}



.button:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
} 



.button:hover span,
.button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}



.button:hover:before,
.button:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

.button:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}  

.ml12 {
display: inline-block;
    position: relative;
    margin: 0.4em;
    padding: 0.7em;
    border: none;
    overflow: hidden;
    text-decoration: none;
    font-size: 1.7em;
    outline: none;
    color: white;
    background: #546b79;
    font-family: 'raleway', sans-serif;
}

.ml12 span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


.ml12:before,
.ml12:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
} 

.ml12:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

.ml12:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
} 

.ml12:hover span,
.ml12:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

.ml12:hover:before,
.ml12:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

.ml12:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}  
.about {
display: inline-block;
    position: relative;
    margin: 0.4em;
    padding: 0.7em;
    border: none;
    overflow: hidden;
    text-decoration: none;
    font-size: 1.7em;
    outline: none;
    color: white;
    background: #546b79;
    font-family: 'raleway', sans-serif;
}

.about span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


.about:before,
.about:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
} 

.about:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

.about:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
} 

.about:hover span,
.about:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

.about:hover:before,
.about:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

.about:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}  



/*  */
/*  */

.navbar {
  font-weight: 200;
  color: white;
  display: flex;
  list-style: none;
  overflow: hidden;
  background-color: '#546b79';
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 16px;
  margin-left: 80vw;
}

.image {
  height: 500px;
  width: 300px;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 270px;
  display: grid;
}

.list {
  list-style: none;
  color: white;
  font-weight: 200;
}

.skills {
  font-weight: 500;
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #fff; 
  width: 30%;
}

.extra {
  padding-top: 5%;
}

.container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  font-size: 30px;
  z-index: 1;
}

.container1, .container2 {
  padding: 0px 100px;
  border: 3px solid #8ba1af;
  border-radius: 50px;
  background:#8ba1af; 
  color: white;
  margin: 50px;
}

.contact {
  color: white;
  font-weight: 1000;
}

.email{
  font-weight: 200;
  color: white;
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: 500;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 5px;
  margin-top: 110px;
  display: flex;
  justify-content: center;
  font-family: 'Libre Caslon Display', serif;
}

.about {
  color: white;
  font-weight: 200;
  text-align: center;
  font-size: 20px;
}

.bs {
  text-align: center;
  min-height: 30vh;
  padding-top: 20%;
  width: 65%;
  margin: 0 auto;
}

.projectSummary {
  color: white;
}

.portfolio, .workExperience, .mainSkills {
  min-height: 90vh;
}

.work {
  font-weight: 200;
  color: white;
  margin-top: 10px;
  padding: 70px 0px 200px 0px;
  text-align: center;
  display: flex;
  background: linear-gradient(to top left, #546b79 0%, #859caa 100%); 
  border-radius: 40px;
}

.footer {
  display: flex;
  margin-left: 2vw;
}

.p1, .p2, .hackathon, .p4 {
  margin: 30px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container3 {
  position: relative;
  font-size: 35px;
  display: flex;
}

.image2 {
  border-radius: 30px;
  opacity: 1;
  display: flex block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hidden {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container3:hover .image2 { 
  opacity: 0.3;
}

.container3:hover .hidden {
  opacity: 1;
}

.tech {
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.text {
  color: white;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
}

.link {
  color: white;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin-top: 10px;
}

.links:hover {
  color: black;
}

.links {
  padding: 0 0 0 5px;
}

.group1, .group2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.grabPortfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.description {
  text-align: center;
  font-size: 1.4em;
}

.details {
  margin: auto 0;
}

.link {
  display: inline;
  padding: 2px;
}

.objective {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Dancing Script', cursive;
}

.jobTitle {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}

.wrap1 {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 200;
}


@media only screen and (max-height: 700px), (max-width: 500px) {
.wrapper {
  width: 100%;
  display: grid;
}
.container3 {
  width: 200px;
  height: 200px;
  margin: 250px;
  display: grid;
  font-size: 50px;
  justify-content: center;
}

.wrap {
  font-size: 2.5em;
}

.grabPortfolio {
  margin: 0 auto;
  padding: 0px 200px 280px 0;
}

.hidden {
  text-align: center;
}

.about {
  font-size: 57px;
}

.ml12 {
  font-size: 60px;
}

.navbar {
  margin-left: 240vw;
}

.container1, .container2 {
  font-size: 45px;
}

.footer {
  padding: 200px 0 0 0;
  font-size: 2.5em;
}

.jobTitle {
  font-size: 1.5em;
}

.tech {
  font-size: 2em;
}

.title {
  font-size: 4.5em;
}

.link {
  font-size: 1.4em;
  margin-top: -40px;
}

}

@media only screen and (min-height: 780px), (min-width: 1000px) and (max-width: 1400px) {
  .image {
    display: flex; 
    align-items: center;
  }
  .navbar {
    margin-left: 70%;
  }
}