.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 250px;
  }

  .ml12 .letter {
  display: inline-block;
  line-height: 1em;
  }

.navbar {
  font-weight: 200;
  color: white;
  display: flex;
  justify-content: space-around;
  list-style: none;
  overflow: hidden;
  background-color: #8ea9cc;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 16px;
}
 .icons { 
  height: 40px;
  width: 40px;
  display: grid;
 }
.image {
  height: 100vh;
  width: 900px;
  margin-top: -700px;
}

.list {
  list-style: none;
  text-align: center;
  color: white;
  font-weight: 200;
  display: grid;
  grid-template-columns: 100%;
}

.skills {
  font-weight: 500;
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: 100%;
}

.arrow {
  color: #d7e1ed;
  height: 100px;
  width: 100px;
  opacity: 12;
  margin-left: 1800px;
}

.contact {
  color: white;
  font-weight: 1000;
  display: flex;

}

.email{
  font-weight: 200;
  color: white;
}

.flower {
  height: 50vh;
  margin-left: 400px;
  display: grid;
  grid-template-columns: 70%;
}

.title {
  font-weight: 500;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 5px;
  margin: 90px 0px 5px 0px;
  }

.brandStatement {
  color: white;
  font-weight: 200;
  text-align: left;
  display: flex;
  justify-content: flex-end;
}

.work {
  font-weight: 200;
  color: white;
  display: flex;
  margin-top: 10px;
  padding: 70px 0px 200px 0px;
  text-align: center;
}

.description {
  list-style: none;
  text-align: left;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
