.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 324px;
  }

  .ml12 .letter {
  display: inline-block;
  line-height: 1em;
  }

.hello {
  font-weight: 200;
  color: white;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.image {
  height: 725px;
  width: 925px;
  margin-top: -725px;
}

.list {
  list-style: none;
  text-align: center;
  color: white;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: flex-around;
}

.skills {
  font-weight: 400;
  text-align: center;
}

.arrow {
  color: #d7e1ed;
  height: 70px;
  width: 70px;
  opacity: 12;
  display: flex;
  align-items: baseline;
}

.contact {
  color: white;
  font-weight: 1000;
}

.email{
  font-weight: 200;
}

.title {
  font-weight: 500;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 5px;
  }

.brandStatement {
  color: white;
  font-weight: 200;
  text-align: left;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
